@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 150px;
  }

  * {
    font-size: 18px;
  }
  .divisions h2 {
    font-size: 39px;
  }

  .persona,
  .project-board {
    flex-direction: column;
  }
  .project-card {
    width: 90%;
  }
  .ui-title center {
    font-size: 34px;
    margin: 45px 0 0 0;
  }
  .occupation {
    font-size: 25px;
  }
  .wrapper {
    width: 40vw;
  }
  .button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .divisions p {
    font-size: 16px;
  }
  .divisions p strong,
  .divisions p small {
    font-size: 12px;
  }
  .divisions ul li {
    font-size: 16px;
  }
  .divisions ul {
    padding: 15px;
  }
  .divisions h2 {
    font-size: 27px;
  }
  .ui-title center {
    font-size: 0.8rem;
  }
  .occupation {
    font-size: 17px;
  }
  .project-title strong {
    font-size: 20px;
  }
  .copyright {
    font-size: 10px;
  }
  .carousel-slide {
    margin-top: 40%;
  }
  .qualifications {
    padding: 0 10px;
  }
  .qualifications p {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.persona {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

hr {
  margin: 10px 0px 10px 0px;
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  margin-left: -20px;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: url(./images/gold4.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 0%;
}

body {
  margin: 20px;
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: blanchedalmond;
  display: grid;
  height: 100%;
  max-width: 100%;
}

body::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

h2 {
  background: linear-gradient(
    109.6deg,
    rgb(255, 219, 47) 11.2%,
    rgb(244, 253, 0) 100.2%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

center {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 68px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -2px;
  margin: 0;
}

* {
  font-size: 30px;
}

.divisions {
  min-height: fit-content;
  margin: 100px auto;
  width: 80vw;
  background: rgba(185, 185, 185, 0.1);
  border-radius: 40px;
  padding: 10px;
}

p {
  padding: 15px;
}

ul {
  margin: 0 0 0 15px;
  padding: 15px 30px;
}

a {
  text-decoration: none;
  color: blanchedalmond;
}

.dt,
dd {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  display: grid;
  place-items: center;
}

.copyright {
  margin: 10px 0 0 0;
  background: linear-gradient(
    109.6deg,
    rgb(255, 219, 47) 11.2%,
    rgb(244, 253, 0) 100.2%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.project-board {
  padding: 15px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  min-height: 525px;
}

.project-card {
  margin: 20px 0;
  width: 20%;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.262);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-image {
  height: 10vw;
  width: 100%;
  background-image: url(./images/2.jpeg);
  background-size: cover;
}

.project-matter {
  padding: 0 15px;
  margin-bottom: 100;
}

.project-title {
  background: linear-gradient(
    109.6deg,
    rgb(146, 146, 146) 11.2%,
    rgb(255, 255, 255) 100.2%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 3% 0px;
  text-align: center;
}

.linkable-project .project-title {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.project-title strong {
  font-size: 20px;
}
.project-desc {
  display: none;
  font-size: 15px;
  padding-bottom: 10px;
}

.project-card:hover .project-desc {
  display: block;
}

@media screen and (max-width: 768px) {
  .project-board {
    flex-direction: column;
  }
  .project-card {
    width: 80%;
  }
  .project-image {
    height: 20vw;
  }
}

.carousel-container {
  display: flex;
  width: 98%;
  margin: 20px auto 10px auto;
  height: 310px;
  position: relative;
}

.carousel-slide {
  flex: 0 0 auto;
  width: 33.33%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carousel-slide img.show {
  opacity: 1;
}

.carousel-slide:nth-child(3) img {
  transform: scale(1.1);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

.occupation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 10px;
  padding: 5px 10px 3px 10px;
  transition: width 0.5s ease-out, padding 0.5s ease-in;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff7300,
    #fffb00,
    #ffffff,
    #fffb00,
    #ff7300
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  border-radius: 10px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  border-radius: 10px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.button i {
  font-size: 30px;
}

.button span {
  position: relative;
  display: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.button:hover {
  width: 130%;
  padding: 5px 20px 3px 20px;
}

.button:hover:after {
  opacity: 1;
}

.button:hover span {
  display: inline-block;
  opacity: 1;
}

.active {
  color: #fffbf1; /* Active color */
  font-weight: bold;
}

.menu-toggle {
  display: none; /* Hide by default */
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar ul li {
  margin-bottom: 10px;
}

#navbar ul li a {
  text-decoration: none;
  color: #664900;
  font-size: 18px;
  transition: all 0.3s ease;
}

#navbar ul li a:hover {
  color: #ffb700; /* Hover color */
}

#navbar ul li a.active {
  background: linear-gradient(
    45deg,
    #ff7300,
    #fffb00,
    #ffffff,
    #fffb00,
    #ff7300
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    background-color: #f1f1f1;
  }

  #navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  #navbar ul li {
    margin-right: 10px;
  }

  #navbar ul li a {
    text-decoration: none;
    color: #664900;
    font-size: 18px;
    transition: all 0.3s ease;
    padding: 10px;
  }

  #navbar ul li a:hover {
    color: #ffb700; 
  }

  #navbar ul li a.active {
    background: linear-gradient(
      45deg,
      #ff7300,
      #fffb00,
      #ffffff,
      #fffb00,
      #ff7300
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  body {
    margin-top: 100px ;
  }
  .certifications {
    height: 225px;
  }
  .carousel-container{
    margin-top: -80px;
  }
}
